@import "../../sassStyles/variables";

.header {
	&_wrapper {
		margin: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media only screen and (max-width: 660px) {
			margin: 0;
			padding: 3rem;
			width: 90%;
			height: 100ch;
			position: absolute;
			top: 0;
			left: -100%;
			background-color: white;
			flex-direction: column;
			justify-content: flex-start;
			gap: 3rem;
			z-index: 9;
			transition: left 0.5s;
			.logo {
				font-size: 1.5rem;
			}
		}
		&.open {
			@media only screen and (max-width: 660px) {
				left: 0;
			}
		}
	}
}

.mobile_menu {
	display: none;
	@media only screen and (max-width: 660px) {
		position: relative;
		padding: 1rem;
		width: 100%;
		display: flex;
		justify-content: end;
		z-index: 10;
		&_icon {
			cursor: pointer;
		}
	}
}

.nav {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	&_link {
		color: white;
		background-color: $blue;
		padding: 0.5rem 1rem;
		border-radius: 0.3rem;
		text-decoration: none;
		&.active {
			background-color: rgba($blue, 0.5);
		}
	}
}
